
body {
    background-color:rgb(233, 224, 224);
    justify-content: center;
    align-items: center;
    display: flex;
    left: auto ;
    right: auto;
}

button {
    background-color:white;
    border-radius:5px;
}

label {
    background-color:white;
    border-radius:5px;
}

input {
    background-color:pink(137, 139, 230);
    border-radius:5px;

}

h1 {
    background-color:pink(143, 148, 211);
    border-radius:5px;
}
    .container{
        width: 30;
        margin: 0px;
        padding: 30px;
        background-color: pink(86, 215, 238);
        border: 3px solid #ddd;
        align-items: right;
        display: flex;

    }
